/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
 
nav {
    /* background-color: #333; */
    background-color: #61dafb;
    color: white;
    padding: 10px;
    text-align: center;
}
 
.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
 
.left-part {
    width: 30%;
}
 
.right-part {
    width: 65%;
}
 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
 
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
 
th {
    background-color: #333;
    color: white;
}
 
form {
    margin-top: 20px;
}
 
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
button:hover {
    background-color: #45a049;
}
 
textarea,
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}