/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
 
nav {
    /* background-color: #333; */
    flex-direction: column;
    display: flex;
    /* background-color: #61dafb; */
    /* background-color: #059AC7; */
    background-color: #07A1DA;
    color: white;
    padding: 10px;
    text-align: center;
}
 
.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
 
.left-part {
    width: 30%;
}
 
.right-part {
    width: 65%;
}
 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
 
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
 
th {
    background-color: #333;
    color: white;
}
 
form {
    margin-top: 20px;
}
 
button {
    margin-bottom: 10px;
    /* background-color: #4CAF50; */
    background-color: #01295F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
button:hover {
    background-color: #45a049;
}

.submitButton:hover {
    background-color: #4CAF50;
}

.deleteButton:hover {
    background-color: red;
}
 
textarea,
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.posts {
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 8px 5px 3px #38AECC;
    border: 1px solid #0090C1;
    border-radius: 10px;
    color: #01295F;
}

.newForm {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 8px 5px 3px #38AECC;
    border: 1px solid #0090C1;
    border-radius: 10px;
}

.editForm {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 8px 5px 3px #38AECC;
    border: 1px solid #0090C1;
    border-radius: 10px;
}

.selectField {
    width: 75%;
    height: 30px;
}

.textField {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 73%;
    height: 25px;
    padding-left: 20px;
    color: #0090C1;
}